.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-wrap: wrap;
}

.signup-input-field {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.signup-input-field input {
  width: 100%;
}

.signup-container .btn {
  margin: auto;
}
