.first-name-wrapper,
.password-wrapper,
.email-input-wrapper,
.userType-input-wrapper {
  width: 45%;
}

.last-name-wrapper,
.confirm-password-wrapper,
.phone-input-wrapper,
.birthDay-input-wrapper {
  width: 45%;
  margin-left: auto;
}

.input-checkbox-container {
  margin: 0.5rem;
}

.input-checkbox {
  margin-right: 0.5rem;
}

.hint {
  position: absolute;
  padding: 2rem;
  width: max-content;
  border-radius: 1rem;
  top: -11.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
.hint-sign {
  cursor: pointer;
  position: relative;
  padding: 2px;
}
.password-hint {
  left: 5rem;
}

.userName-hint {
  left: 2rem;
  width: 70%;
}

.hint h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.password-wrapper,
.username-wrapper {
  position: relative;
}

.PhoneInput {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.31rem 0.8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.PhoneInputInput {
  width: 100%;
  min-height: 1.8rem;

  outline: none;

  overflow-x: scroll;
  border: none;
}
.PhoneInputCountrySelect {
  background-color: transparent;
}
form span p.error-msg {
  color: red;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}
.required-star {
  color: red;
  padding: 2px;
}
@media screen and (max-width: 900px) {
  .first-name-wrapper,
  .last-name-wrapper {
    width: 100%;
    margin-left: 10px;
  }

  .userName-hint {
    left: 0rem;
    width: 100%;
  }
}
