.first-name-wrapper,
.password-wrapper {
  width: 45%;
}

.last-name-wrapper,
.confirm-password-wrapper {
  width: 45%;
  margin-left: auto;
}

.input-checkbox-container {
  margin: 0.5rem;
}

.input-checkbox {
  margin-right: 0.5rem;
}

.password-hint {
  position: absolute;
  padding: 2rem;
  top: -11.5rem;
  left: 5rem;
  width: max-content;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.password-hint h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.password-wrapper {
  position: relative;
}

@media screen and (max-width: 900px) {
  .first-name-wrapper,
  .last-name-wrapper {
    width: 100%;
    margin-left: 10px;
  }
}
