.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  flex-wrap: nowrap;
}

.login-signup-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-user-header {
  display: block;
}
.login-input {
  width: 100%;
  min-height: 1.8rem;
  margin: 10px;
}
