.navbar {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 85%);
}

/*
  hsl(220, 23%, 23%)
  hsl(0, 0%, 98%)
  hsl(0, 0%, 85%)
*/

.navbar-right {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}

.logo {
  width: 5.5rem;
  height: 4.5rem;
}

.logo img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.navbar-link {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  margin-left: 1.2rem;
  border-radius: 0.5rem;
}

.navbar-link:first-child {
  margin-left: 0;
}

.navbar-link.btn-link {
  background-color: hsl(220, 23%, 23%);
  color: hsl(0, 0%, 98%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out;
}

.navbar-link:not(.btn-link) {
  background-color: hsl(0, 0%, 85%);
  color: hsl(220, 23%, 23%);
}

.navbar-link:hover {
  background-color: hsl(220, 23%, 23%);
  color: hsl(0, 0%, 98%);
}

.btn-link:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(220, 23%, 23%);
}

.mobile {
  display: none;
}

.btn-menu {
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .collapse {
    display: none;
  }

  .mobile {
    display: block;
  }
}
